.divinc{   
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}
.divgeral{
    background-color:slateblue;
    margin: 0px 100px 0px 100px;
border-radius: 20px;}
.divnome{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.divemail{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}
.endereço{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.divcpf{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.but{
    display: flex;
    justify-content: center;
}
.img1{
    border-radius: 10px;
flex-wrap: wrap;
}
.img2{
    border-radius: 10px;
}
.divbutao{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.but{
    border-radius: 10px;
    background-color: blueviolet;
    border-color: blueviolet;
}
.divresto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.divimg{
    display: flex;
    flex-wrap: wrap;
}
#email{
    margin: 0px 0px 0px 65px;
    border-radius: 10px;
    border-color: blueviolet;
}
#endereço{
    margin: 0px 0px 0px 40px;
    border-radius: 10px;
    border-color: blueviolet;
}
#cpf{
    margin: 0px 0px 0px 65px;
    border-radius: 10px;
    border-color: blueviolet;
}
#nome{
    border-radius: 10px;
    border-color:blueviolet;
}
.paragrafo1{
    font-size: 20px;
    font-weight: 900;
}
.paragrafo2{
    font-size: 22px;
    font-weight: 900;
}
